* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}


/* Navigation Bar */

.navbar {
    background: linear-gradient(to right, teal, purple);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 2rem;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


/* Content */

.content__container {
    padding: 2rem;
}

.content__container h1 {
    color: purple;
}

.content__container p {
    color: teal;
}