* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}


/* Navigation Bar */

.navbar {
    background: linear-gradient(to right, teal, rgb(131, 20, 131));
    z-index: 999;
    font-size: 2rem;
    position: sticky;
    display: flex;
    justify-content: center;
    margin: -8px;
    height: 65px;
    border-bottom: solid 3px rgb(49, 49, 49);
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 65px;
    margin-right: 50%;
}

.navbar__links {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: -8px;
}

.navbar__links a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    margin: 0 3rem;
}

.navbar__links a:hover {
    color: lightgray;
    font-weight: bold;
    text-decoration: underline;
}


/* Content */

.content__container {
    padding: 2rem;
}

.content__container h1 {
    color: purple;
}

.content__container p {
    color: teal;
}

.button {
    border-style: hidden;
    color: black;
    font-weight: bold;
    background-color: rgb(190, 190, 190);
    padding: 5px 15px;
    height: 3rem;
    width: 12rem;
}


/* Bounce To Bottom */

.button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button:hover,
.button:focus,
.button:active {
    color: white;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.image {
    padding: 3rem 0;
}

.image img {
    max-width: 100%;
    height: auto;
    border-style: outset;
    border-width: 5px;
    filter: grayscale();
}

.image img:hover {
    border-style: inset;
    filter: none;
}


/* Footer */

.footer {
    background-color: darkgrey;
    margin: -8px;
    margin-bottom: -16px;
    text-align: center;
    padding: 1rem 0;
}

.footer__links a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
}

.footer__links a:hover {
    color: purple;
}